@media screen and (min-width: 960px) {
    .main-logo-svg-container svg {
        width: 42px;
        height: 24px;
        margin-left: 1px;
    }

    .logo-text-container svg {
        width: 155px;
        height: 18px;
        margin-left: 4px;
        margin-top: 1px;
    }

    .delivery-main-text-container {
        max-width: 750px;
        margin-top: 81px;
    }

    .delivery-inputs-wrapper {
        width: 408px;
    }

    #delivery-signin-text {
        display: none;
    }

    #delivery-signin-long-text {
        display: flex;
        margin-left: 0px;
    }

    .delivery-buttons-container .delivery-login {
        width: 203.5px;
    }

    .delivery-buttons-container .delivery-login .delivery-login-svg-wrapper {
        margin-left: 0px;
    }
}