@media screen and (min-width: 768px) {

    #ad,
    #app-ad {
        display: none;
    }

    #offers {
        display: none;
    }

    #business-section {
        display: none;
    }

    #app-ad {
        display: none;
    }

    #ad {
        display: none;
    }

    header {
        width: 100%;
        height: 650px;
    }

    .delivery-main-logo-container {
        transform: translateY(-153px);
    }

    .mobile-buttons {
        display: none;
    }

    .tablet-buttons {
        display: block;
    }

    .tablet-nav-sign-in {
        width: 82px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        margin-right: 8px;
    }

    .tablet-nav-sign-up {
        width: 90px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        background-color: white;
        color: var(--secondary-text-color);
        margin-right: -2px;
    }

    .delivery-main-text-container h1 {
        font-size: 22px
    }
}

@media screen and (min-width: 769px) {

    .delivery-main-text-container {
        max-width: 750px;
        margin-top: 84px;
    }

    .delivery-main-text-container h1 {
        font-size: 40px;
        max-width: 750px;
        line-height: 40px;
        font-weight: 900;
    }

    .delivery-inputs-wrapper {
        width: 408px;
        padding-top: 28px;
        padding-right: 8px;
        padding-bottom: 28px;
        margin-top: 24px;
    }


    .search-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -3px;
        margin-left: 4px;
    }

    .input-location-icon {
        display: block;
        margin-top: 3px;
    }

    .input-search-icon {
        display: none;
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button {
        background-color: var(--primary-button-color);
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button svg path {
        fill: white;
    }

    .delivery-inputs-wrapper .input-wrapper input::placeholder {
        font-family: "TTNorms-Medium";
        font-size: 15.5px;
        line-height: 22px;
        color: #606060;
        width: 292px;
        font-weight: 500;
    }

    #delivery-signin-text {
        display: flex;
        font-family: 'TTNORMS-MEDIUM';
        letter-spacing: 0.25px;
        margin-left: 1px;
        margin-top: -1px;
    }

    #delivery-login-text {
        display: none;
    }

    .delivery-login {
        transform: scale(1.01);
    }

    .delivery-buttons-container .current-location {
        display: none;
    }

    .delivery-buttons-container .delivery-login {
        width: 88.74px;
        margin-left: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-top: 1px;
    }

    .delivery-buttons-container .delivery-login .delivery-login-svg-wrapper {
        margin-left: 0px;
    }

    /* Organization section */

    #organization {
        width: 486px;
        margin: 0px auto;
    }

    .organization-container {
        width: 100%;
        margin: 32px 0px;
    }

    .role-image-container img {
        width: 124px;
        height: 124px;
    }

    .role-text-container {
        margin-left: 32px;
    }
    
}